body{
    background: repeating-linear-gradient(
            to right,
            palevioletred 0%, navajowhite 50px,

            lightcyan 201px, antiquewhite 250px,
            lightblue 251px, whitesmoke 300px,
            peachpuff 301px, white 350px
    );
}
#game{
    background-color: papayawhip;
    position:relative;
    margin: auto;
    border: 10px solid hotpink;
    display: block;
}

#svg{
    position:absolute;
}

.block{
    width: 100px;
    height: 100px;
    float:left;
    border: 6px solid white;
    box-sizing: border-box;
    line-height: 50px;
    text-align: center;
    font-size: 60px;
}

.block:hover{
    border:4px solid lightblue;
    background-color: papayawhip;
}

.closed{
    width: 100px;
    height: 100px;
    float:left;
    border: 6px solid white;
    box-sizing: border-box;
    line-height: 50px;
    text-align: center;
    font-size: 60px;
    background-color: pink;
}

#name{
    background-color: white;
    text-shadow: 5px 4px 3px #999;
    color:blue;
    text-align: center;
}

#clear{
    background-color: greenyellow;
    font-size: 20px;
    width: 160px;
    height: 55px;
    position:relative;
    top: 20px;
    margin: auto;

}

.displayNone {
    display:none;
}

.displayBlock {
    display:block;
}

#result{
    background-color: antiquewhite;
    border: 3px solid grey;
    height: 50px;
    font-weight: bold;
    text-align: center;

}

.disabled {
    pointer-events: none;
}
#winner{
    display: block;
    top: 20px;
    position: relative;
    background-color: white;
    color:red;
    text-align: center;
    font-weight: bold;
    font-size: x-large;

}